.contact-form-container {
  max-width: 400px; /* pehle 600px tha, ab chhota */
  margin: 50px auto;
  padding: 40px 20px;
  font-size: 14px; /* thoda compact feel dene ke liye */
  text-align: center;
  color: #fff;
  background: linear-gradient(to bottom, #caaa0e, #354807);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form-container h2 {
  font-size: 36px; /* pehle 48px tha */
  margin-bottom: 8px;
}

.description {
  font-size: 16px; /* pehle 18px tha */
  margin-bottom: 25px;
  color: #d9e6ff;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}


.contact-form label {
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  padding: 12px;
  font-size: 15px;
  background-color: #0099ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #007acc;
}