body {
  padding-bottom: 80px; /* Footer ke height ke hisaab se adjust karna */
}

.footer {
  text-align: center;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  color: #fff;
  position: fixed;  /* Footer ko fixed position de raha hai */
  bottom: 0px;  /* Body ke last me fix karega */
  width: 100%; /* Pura width le lega */
}
 p{
  margin: 0;
  font-size: larger;
} 

a{
  color: #000;
  text-decoration: none;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size:20px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}
