.product-list-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: fit-content;
  background-attachment: fixed;

}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 0%;
  padding: 0%;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 10px 10px;
}

button {
  background-color: #34d41c;
  color: white;
  padding: 8px 11px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #102381;
}
